.card {
  border: 2px solid rgba(212, 212, 212, 0.5);
  border-radius: 10px;
  width: 50%;
  height: 80vh;
  display: grid;
  grid-template-rows: 1fr 8fr 0.2fr 0.2fr 2fr 1fr;
}

.cardAuthor {
  grid-row: 1/2;
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardAuthor > img {
  max-height: 42px;
  border-radius: 50%;
  margin-left: 0.2rem;
  background-color: white;
}

.cardAuthor > span {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.cardImgContent {
  min-height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cardImgContent > img {
  max-width: 100%;
  max-height: 100%;
  flex-shrink: 1;
  align-self: center;
}

#likeButton > svg {
  fill: white;
  cursor: pointer;
}

#likeButton.paintRed > svg {
  fill: rgb(218, 0, 0);
  font-weight: bold;
}

.actionButtons {
  padding-left: 0.5rem;
}

.numLikes {
  padding-left: 0.5rem;
}

.cardTextContent {
  max-height: 40%;
  padding-left: 0.5rem;
}

.cardContainerBottom {
  height: 100%;
  grid-row: 6/7;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
}

.cardShowComments {
  padding: 0rem 0.5rem;
}

.datetimePosted {
  padding: 0.5rem 0.5rem;
}
.cardContainerBottom > .addComment {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.5rem 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
