.signUpContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  padding: 0;
  align-self: center;
}

.signUpContainer > form {
  height: 40%;
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.signUpContainer > form > input {
  height: 80%;
  width: 100%;
  margin: 0.5rem 5rem;
  font-size: 1.3rem;
  justify-self: center;
  padding-left: 1rem;
  background-color: rgb(188, 188, 188);
}
.signUpContainer > form > button {
  font-size: 1.3rem;
  background-color: rgb(116, 177, 221);
  color: white;
  height: 90%;
  width: 100%;
  margin: 0.5rem;
  justify-self: center;
}

.signUpContainer > form > h2 {
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0;
}

.signUpContainer > form > div {
  text-align: center;
  font-size: 1.2rem;
}
