.signUpContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.signUpContainer > form {
  max-height: 80%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 0.5em 0;
}

.signUpContainer > form > input {
  height: 100%;
  width: 90%;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
.signUpContainer > form > button {
  font-size: 1.5rem;
  background-color: rgb(116, 177, 221);
  color: white;
  height: 100%;
  width: 90%;
  margin-bottom: 0.5rem;
  padding: 0;
  margin-top: 0.5rem;
}

.signUpContainer > form > h2 {
  font-size: 3rem;
}
